@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.images-container-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
}

.blog-content img {
  min-width: 100%;
  margin: 2em 0;
}

.brand {
  color: #18b6ff;
}

.brand:hover {
  color: #18b6ff;
}

.show-password {
  cursor: pointer;
  color: #ffffff;
}
